/* CSS declarations go here */
html {
  position: relative;
  min-height: 100%;
}
body {
  padding-top: 50px;
  margin-bottom: 30px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer p {
  text-align: center;
}

input.error {
  background-color: rgb(255, 231, 231);
}
textarea.error {
  background-color: rgb(255, 231, 231)
}
