<template name="navigation">
  <nav class="navbar navbar-inverse navbar-fixed-top mynavbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a href="{{pathFor route='main'}}" class="navbar-brand"> Sam </a>
      </div>
      <ul class="nav navbar-nav">
        <li>Forum</li>
        <li>Chat</li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {{#if currentUser}}
        <li><a href="{{pathFor route='account'}}"><span class="glyphicon glyphicon-user"></span>Account</a></li>
        <li><a class="logout"><span class="glyphicon glyphicon-log-out"></span>Log out</a></li>
        {{else}}
        <li><a href="{{pathFor route='login'}}"><span class="glyphicon glyphicon-user"></span>Log in</a></li>
        <li><a href="{{pathFor route='register'}}"><span class="glyphicon glyphicon-log-in"></span>Register</a></li>
        {{/if}}
      </ul>
    </div>
  </nav>
</template>
